<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Admin</title>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
<!-- CSS -->
{% load staticfiles %}
<link href="{% static 'music/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'music/css/animate.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'music/css/animations.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'music/css/style1.css' %}" rel="stylesheet">
<!-- CSS -->
</head>
<body>
<!--FIRST ROW -->
<div class="container-fluid top">
</div>
<!--FIRST ROW CLOSE-->
<!--FIRST ROW -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-0"></div>
            <div class="col-md-6 col-xs-12 loginbox">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3 >ADMIN PANEL</h3>
                    </div>
                </div>
                <form>
                <div class="row  wow slideInleft">
                    <div class="col-xs-12 text-center" style="height:55px;">
                    	<input type="text" name="username" class="logbox" placeholder="USER NAME" required autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center" style="height:55px;margin-top: 20px;">
                    	<input type="password" name="password" class="logbox" placeholder="PASSWORD" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center" style="margin-top: 30px; height: 40px; border-radius: 5px;">
                       <input type="submit" name="save" class="button">
                    </div>
                </div>
                </form>
              </div>
            <div class="col-md-3 col-xs-0"></div>
        </div>        
    </div>
</div>
<!--FIRST ROW CLOSE-->

<script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<!-- Wow Animation Function -->
<script type="text/javascript">
  wow = new WOW(
    {
      animateClass: 'animated',
      offset:       100,
      callback:     function(box) {
        console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
      }
    }
  );
  wow.init();
</script>
<!-- Wow Animation Function Close -->
</body>
</html>
	</li>
</ul>