@charset "utf-8";
/* CSS Document */
body{
	background:url(../images/headerbg.jpg) center no-repeat fixed;
	background-size:100% 130%;
}
.header{
	height: 120px;
	padding-top: 20px;
	background:#222;
}
.header h1{
	color: white;
	height:90px;
	font-size:50px;
}
.tabs{
	font-size: 14px !important;
	border: none;
	border-radius: 0px;
}
.heading{
	height: 50px;
}
.heading h2{
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
.content{
	margin-top: 10px;
	margin-bottom: 10px;
}
.content table{
	background: white;
	border: 5px black solid;
}
.content td{
	border: 2px black solid;
	color: darkred;
	font-size: 18px;
	font-weight: 100;
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 8px;
}
.box{
	border-radius: 0px !important;
	background:#CCC;
	border:#222 solid 2px;
	margin-top: 8px;
	margin-bottom: 10px;
}
.box td{
	background: white;
	border: 2px black solid;
	color: darkred;
	font-size: 18px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 8px;
}
.button{
	border: none;
	width:100px;
	height:100%;
	background: #444;
	color: #eee;
}
.textbox{
	margin-top: 18px;
	width: 100%;
	height: 100%;
	border: solid thin black;
	padding-left: 5px;
	font-size: 21px;
	background: #f5f5f5;
	border-radius: 6px;
}
.footer{
	margin-top: 6px;
	height:38px;
	background:#222;
	font-size:24px;
	color: #888;
}
.f_box h2{
	text-align: center;
	text-transform: uppercase;
	color: #555;
	font-size: 52px;
	font-weight: bolder;
	margin-bottom: 6px;
	margin-top: 10px;
}
.top{
	height: 200px;
}
.loginbox{
	background: rgba(0,0,0,0.8);
	height: 280px;
	border-radius: 10px
}
.loginbox h3{
	color: white;
	font-size: 30px;
	margin-top: 10px;
	border-bottom: white 2px solid;
}
.logbox{
	margin-top: 15px;
	width: 100%;
	height: 100%;
	border: solid thin black;
	padding-left: 5px;
	font-size: 25px;
	border-radius: 5px;
}
.imgdisp{
	width: 160px;
	height: 90px;
}
#classlist{
	display: none;
}